body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(253, 253, 253);
}

/* navbar */

.navbar-brand {
	letter-spacing: 6px;
	font-size: 40px;
	font-weight: 700;
	font-family: 'Cinzel', serif;
	cursor:pointer;
}

.flexify{
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-content: center;
	color: white;
}

/* footer */

.footer{
	color: white;
	padding: 30px;
	text-align: center;
}

.zoom:hover{
	color:green;
	cursor: pointer;
	transform : translateY(5px);
	transition: transform 0.3s;
}

.color{
	color: green;
}

/* home */
.sidebar{
	text-align: justify;
	padding: 0px 20px;
}

.bar{
	border-bottom: 1px solid green;
	margin: 10px 0px;
}

.bar1{
	border-top: 4px solid green;
	border-right: 4px solid green;
	border-bottom: 0px solid green;
	border-left: 4px solid green;
}

.bar2{
	border-top: 0px solid green;
	border-right: 0px solid green;
	border-bottom: 0px solid green;
	border-left: 4px solid green;
}

.bar3{
	border-top: 1px solid green;
	border-right: 4px solid green;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
}

.bar4{
	border-top: 0px solid green;
	border-right: 4px solid green;
	border-bottom: 4px solid green;
	border-left: 4px solid green;
}

.bar5{
	border-top: 1.5px solid green;
	border-right: 4px solid green;
	border-bottom: 0px solid green;
	border-left: 0px solid green;
}

.hover{
	text-transform: capitalize;
}

.hover:hover {
	cursor: pointer;
	color: rgb(91, 131, 248);
}

.form-control{
	border: 2px solid green;
	border-color: green !important;
}

.page-item{
	padding: 6px;
}

.page-link{
	color: rgb(91, 131, 248);
	cursor: pointer;
	font-weight: 700;
}

.text{
	color: rgb(91, 131, 248);
}

.align{
	margin: 4vh 8vw;
}

.text-color{
	color: rgb(91, 131, 248);
}

@media (min-width:765px) and (max-width:992px) {

	.navbar-collapse{
		display: flex;
		justify-content: center;
	}

	.navbar-collapse>ul{
		margin-left: 0%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.bar6{
		border-top: 0px solid green;
		border-right: 1px solid green;
		border-bottom: 0px solid green;
		border-left: 0px solid green;
	}

	.sidebar{
		text-align: justify;
		padding: 20px 20px;
	}

	.align{
		margin: 4vh 4vw;
	}

	.flexify{
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-content: center;
		color: white;
	}
	
}

@media only screen and (max-width:765px) {

	.navbar-collapse{
		display: flex;
		justify-content: flex-end;
	}

	.navbar-collapse>ul{
		margin-left: 0%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.bar6{
		border-top: 0px solid green;
		border-right: 4px solid green;
		border-bottom: 0px solid green;
		border-left: 0px solid green;
	}

	.sidebar{
		text-align: justify;
		padding: 20px 20px;
	}

	.padd{
		margin: 10px;
	}

	.align{
		margin: 4vh 4vw;
	}

	.flexify{
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-content: center;
		color: white;
	}

	.gird{
		display: grid;
		grid-template-columns: auto auto auto auto;
	}

}